<!DOCTYPE html>
<html lang="id" data-bs-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title><%= locale.title %></title>

        <!-- Primary Meta Tags -->
        <meta name="title" content="<%= locale.title %>" />
        <meta name="description" content="<%= locale.description %>" />
        <meta name="author" content="<%= locale.author %>" />
        <meta name="keywords" content="<%= locale.keywords %>" />

        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="<%= locale.name %>" />
        <meta itemprop="description" content="<%= locale.description %>" />
        <meta itemprop="image" content="<%= locale.image || locale.icon %>" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="<%= pageActive == 'post-detail' ? 'article' : 'website' %>" />
        <meta property="og:url" content="<%= locale.url %>" />
        <meta property="og:title" content="<%= locale.title %>" />
        <meta property="og:description" content="<%= locale.description %>" />
        <meta property="og:image" content="<%= locale.image || locale.icon %>" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="<%= locale.url %>" />
        <meta property="twitter:title" content="<%= locale.title %>" />
        <meta
            property="twitter:description" content="<%= locale.description %>"
        />
        <meta property="twitter:image" content="<%= locale.image || locale.icon %>" />

        <% if(pageActive == 'post-detail'){ %>
        <!-- Article -->
        <meta property="article:publisher" content="<%= locale.name %>" />
        <% post.tags.forEach(tag => { %>
        <meta property="article:tag" content="<%= tag %>" />
        <% }) %>
        <meta property="article:section" content="<%= post.category %>" />
        <meta property="article:published_time" content="<%= post.createdAt.toISOString() %>" />
        <meta property="article:modified_time" content="<%= post.updatedAt.toISOString() %>" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
        <% } %>

        <!-- Favicon -->
        <link rel="icon" type="image/svg+xml" href="<%= locale.icon %>" />

        <!-- Cannonical -->
        <link rel="canonical" href="<%= locale.url %>" />

        <!-- Styles -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css"/>
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body class="bg-light">
        <!-- Header -->
        <%- //include('../partials/home-header.ejs') %>

        <!-- Page content -->
        <%- body %>

        <!-- Scripts -->
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
