<div class="container-md col-lg-9 col-xxl-8 py-5">
    <div class="px-lg-5 my-5 py-5">
        <div class="bg-light container d-flex flex-column align-items-center text-center px-5 py-5">
            <h1 class="display-5 fw-bold mb-4">Welcome to My Blog!</h1>
            <p class="fs-5 fst-italic text-muted mb-4">
              I am  an IT student, this is a place where i can share about my experience and knowledge around technology, self improvement, and many other
            </p>
            <div class="d-flex gap-3">
                <a href="#latest-blog" class="btn btn-dark py-2 px-4 px-md-5 rounded-5">Latest post</a>
                <a href="/about" class="btn btn-outline-dark py-2 px-4 px-md-5 rounded-5">About me</a>
            </div>
        </div>
      </div>
</div>

<!-- Blog section-->
<section class="bg-light mt-5 py-5" id="latest-blog">
    <div class="container-md col-lg-9 col-xxl-8">
        <div class="text-center mb-5">
            <div
                class="bg-dark bg-gradient text-white rounded-4 mb-3"
                style="
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    height: 3rem;
                    width: 3rem;
                    font-size: 1.5rem;
                "
            >
                <i class="bi bi-file-richtext"></i>
            </div>
            <h3 class="fw-bolder fs-4 mb-1">Latest Post</h3>
            <p class="">Check out few of my recent post</p>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10">
            <div class="d-none d-md-block">
            <!-- JIKA DI LAYAR TABLET KE ATAS -->
            <% posts.forEach((post, index) => { %>
                <a href="/posts/<%= post.slug %>"
                    class="text-body-secondary text-decoration-none"
                >
                    <div class="d-flex <%= (index < posts.length - 1) ? 'py-4' : 'pt-4' %>">
                        <div class="flex-shrink-0">
                            <img class="rounded-4" src="<%= post.thumbnail ?? 'https://dummyimage.com/70x50/ced4da/6c757d.jpg' %>" alt="<%= post.title %>" width="250px">
                        </div>
                        <div class="ms-3">
                            <h5 class="card-title fw-semibold large-3 mb-2">
                                <%= post.title %>
                            </h5>

                            <div class="mb-2">
                                <small class="small-7 ">
                                <%=
                                post.createdAt.toLocaleDateString('en-EN', {
                                month: 'short', day: 'numeric'}) %> <% if
                                (post.category) { %>
                                <span class="fw-bold mx-1"
                                    >&centerdot;</span
                                >
                                <%= capitalizeEachWord(post.category) %> <%
                                } %></small>
                            </div>
                            <p class="card-text small mb-0">
                                <%= post.excerpt %>
                            </p>
                            <% if (post.tags.length) { %>
                            <div class="card-text mt-3 mb-0">
                                <% post.tags.forEach(tag => { %>
                                <span
                                    class="badge bg-body-secondary text-body-secondary rounded-4 px-3 py-2 my-1"
                                    >#<%= tag %></span
                                >
                                <% }) %>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </a>
            <% })%>
            </div>

            <div class="d-block d-md-none">
            <!-- JIKA DI LAYAR MOBILE -->
            <% posts.forEach(post => { %>
            <div class="card rounded-4 border-0 mb-4 post">
                <a
                    href="/posts/<%= post.slug %>"
                    class="text-body-secondary text-decoration-none"
                >
                    <% if (post.thumbnail) { %>
                    <img
                        src="<%= post.thumbnail %>"
                        class="card-img-top rounded-top-4"
                        alt="<%= post.title %>"
                    />
                    <% } %>
                    <div class="card-body px-3 px-md-4 pt-4 pb-3">
                        <h5 class="card-title fw-semibold large-3 mb-2">
                            <%= post.title %>
                        </h5>
                        <div class="small-7 mb-2">
                            <%=
                            post.createdAt.toLocaleDateString('en-EN', {
                            month: 'short', day: 'numeric'}) %> <% if
                            (post.category) { %>
                            <span class="fw-bold mx-1"
                                >&centerdot;</span
                            >
                            <%= capitalizeEachWord(post.category) %> <%
                            } %>
                        </div>
                        <p class="card-text small mb-0">
                            <%= post.excerpt %>
                        </p>
                        <% if (post.tags.length) { %>
                        <p class="card-text mt-3 mb-0">
                            <% post.tags.forEach(tag => { %>
                            <span
                                class="badge bg-body-secondary text-body-secondary rounded-4 px-3 py-2 my-1"
                                >#<%= tag %></span
                            >
                            <% }) %>
                        </p>
                        <% } %>
                    </div>
                </a>
            </div>
            <% }) %>
            </div>


            <div class="d-flex align-items-center justify-content-center my-5">
                <hr class="flex-grow-1 border-dark opacity-30" />
                <a class="btn btn-outline-secondary rounded-pill px-4" href="/posts">
                    More posts
                </a>
                <hr class="flex-grow-1 border-dark opacity-30" />
            </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact section-->
<section class="bg-light mt-5 py-5" id="contact">
    <div class="container-md col-lg-9 col-xxl-8 px-5 pt-5 my-5">
        <div class="text-center mb-5">
            <div
                class="bg-dark bg-gradient text-white rounded-4 mb-3"
                style="
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    height: 3rem;
                    width: 3rem;
                    font-size: 1.5rem;
                "
            >
                <i class="bi bi-envelope"></i>
            </div>
            <h3 class="fw-bolder fs-4 mb-1">Contact Me</h3>
            <p class="">I'd love to hear your suggestion or question</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <!-- alert -->
                <div class="alert alert-success alert-dismissible rounded-4 fade d-none" role="alert" id="alert">
                    <strong>Success!</strong> Thanks for your message!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <!-- alert warning -->
                <div class="alert alert-danger alert-dismissible rounded-4 fade d-none" role="alert" id="alert-danger">
                    <strong>Failed!         </strong> Check your internet connection!
                    <a href="">Reload</a>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <form name="contact-form">
                    <div class="mb-4">
                        <label for="name" class="form-label small fw-semibold">Fullname<span class="text-danger">*</span></label>
                        <input type="text" class="form-control text-body-secondary shadow-none" id="name" name="name" required />
                        <div id="name-validation" class="invalid-feedback"></div>
                    </div>
                    <div class="mb-4">
                        <label for="email" class="form-label small fw-semibold">Email Address<span class="text-danger">*</span></label>
                        <input type="email" class="form-control text-body-secondary shadow-none" id="email" name="email" required />
                        <div id="email-validation" class="invalid-feedback"></div>
                    </div>
                    <div class="mb-4">
                        <label for="message" class="form-label small fw-semibold">Your Message<span class="text-danger">*</span></label>
                        <textarea class="form-control text-body-secondary shadow-none" rows="5" id="message" name="message" required></textarea>
                        <div id="message-validation" class="invalid-feedback"></div>
                    </div>
                    <button type="submit" class="btn btn-dark w-100" id="button">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
