<%- include('partials/header') %>

<!-- Page content-->
<div class="container-md col-lg-10 col-xl-9 col-xxl-8 my-5">
    <div class="row">
        <!-- Side widget 1 -->
        <div class="col-lg-2 d-none d-lg-block">
            <div class="position-sticky" style="top: 2rem">
                <h6 class=""><i class="bi bi-folder"></i> Categories</h6>
                <nav class="nav flex-column category-nav mt-3 border-start">
                    <% if (typeof categories !== 'undefined' && categories.length) { %>
                        <% categories.forEach(category => { %>
                            <a class="nav-link small-3 text-body-secondary rounded-4 py-1 <% if(post.category && post.category.slug === category.slug) { %>active<% } %>" href="/?category=<%= category.slug %>">
                                <%= capitalizeEachWord(category.name) %>
                            </a>
                        <% }) %>
                    <% } %>
                </nav>
            </div>
        </div>

        <!-- Main content -->
        <div class="col-lg-7 px-lg-3">
            <main>
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1"><%= post.title %></h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Posted on <%= new Date(post.createdAt).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %> by <%= post.userId.fullname %></div>
                        <!-- Post categories-->
                        <% if (post.category) { %>
                            <a class="badge bg-secondary text-decoration-none link-light" href="/?category=<%= post.category.slug %>"><%= post.category.name %></a>
                        <% } %>
                    </header>
                    <!-- Preview image figure-->
                    <% if (post.thumbnail) { %>
                        <figure class="mb-4"><img class="img-fluid rounded" src="<%= post.thumbnail %>" alt="<%= post.title %>" /></figure>
                    <% } %>
                    <!-- Post content-->
                    <section class="mb-5">
                        <%- post.content %>
                    </section>
                </article>
            </main>
        </div>

        <hr class="d-lg-none my-5">

        <!-- Side widget 2-->
        <div class="col-lg-3">
            <div class="position-sticky" style="top: 2rem">
                <!-- Profile -->
                <h6 class="mt-lg-0"><i class="bi bi-person"></i> My Profile</h6>
                <div class="widget bg-white border text-center rounded-4 px-3 py-4">
                    <img src="<%= author.avatar %>" alt="<%= author.name %>" class="rounded-circle img-thumbnail mb-3 gper-img" />
                    <h6 class=""><%= author.name %></h6>
                    <p class="small text-body-secondary fst-italic m-0 px-4 px-md-5 px-lg-3">
                        <%= author.bio %>
                    </p>
                </div>

                <!-- Contact -->
                <h6 class="mt-5"><i class="bi bi-chat-text"></i> Contact Me</h6>
                <div class="widget bg-white border rounded-4 small pt-2 pb-1 px-2">
                    <div class="d-flex">
                        <a href="<%= author.socials.email %>" class="widget-link text-body-secondary text-decoration-none px-3 py-2 mb-1 w-100" target="_blank">
                            <i class="bi bi-envelope"></i>
                            <span class="ms-2">G-mail</span>
                        </a>
                    </div>
                    <div class="d-flex">
                        <a href="<%= author.socials.github %>" class="widget-link text-body-secondary text-decoration-none px-3 py-2 mb-1 w-100" target="_blank">
                            <i class="bi bi-github"></i>
                            <span class="ms-2">Github</span>
                        </a>
                    </div>
                    <div class="d-flex">
                        <a href="<%= author.socials.linkedin %>" class="widget-link text-body-secondary text-decoration-none px-3 py-2 mb-1 w-100" target="_blank">
                            <i class="bi bi-linkedin"></i>
                            <span class="ms-2">Linked-in</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>