<!-- Page content-->
<div class="container-md col-lg-9 col-xxl-8 my-5">
    <div class="row">
        <!-- Side widget 1 -->
        <div class="col-lg-2 align-items-center d-none d-lg-block share">
            <div class="position-sticky" style="top: 35%">
                <div class="large-3 my-3">
                    <a
                        class="share-link twitter-lg text-body-secondary p-2"
                        href="#"
                        target="_blank"
                        ><i class="bi bi-twitter"></i
                    ></a>
                </div>
                <div class="large-3 my-3">
                    <a
                        class="share-link linkedin-lg text-body-secondary p-2"
                        href="#"
                        target="_blank"
                        ><i class="bi bi-linkedin"></i
                    ></a>
                </div>
                <div class="large-3 my-3">
                    <a
                        class="share-link facebook-lg text-body-secondary p-2"
                        href="#"
                        target="_blank"
                        ><i class="bi bi-facebook"></i
                    ></a>
                </div>
                <div class="large-3 my-3">
                    <a
                        class="share-link whatsapp-lg text-body-secondary p-2"
                        href="#"
                        target="_blank"
                        ><i class="bi bi-whatsapp"></i
                    ></a>
                </div>
                <div class="large-3 my-3">
                    <a
                        class="share-link telegram-lg text-body-secondary p-2"
                        href="#"
                        target="_blank"
                        ><i class="bi bi-telegram"></i
                    ></a>
                </div>
                <div class="large-3 mt-3">
                    <a
                        class="share-link text-body-secondary p-2 d-none toTop"
                        href="#top"
                        ><i class="bi bi-arrow-up-circle"></i
                    ></a>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <div class="col-lg-8 p-0-lg">
            <main>
                <article class="card border-0 bg-light">
                    <header class="text-center mt-5 p-2">
                        <h1 class="post-title fs-2 fw-bold">
                            <%= post.title %>
                        </h1>
                        <p class="fst-italic text-muted">By <%= post.userId.fullname %></p>
                        <!-- <div class="d-flex align-items-center mt-5">
                            <div class="flex-shrink-0">
                                <img
                                    <% if (post.userId.image) { %>
                                    src="<%= post.userId.image%>"
                                    alt="<%= post.userId.fullname %>"
                                    <% } else { %>
                                    src="/assets/img/user-default.jpg" alt=""
                                    <% } %>
                                    class="rounded-circle author-post-thumbnail"
                                />
                            </div>
                            <div class="ms-3">
                                <h6 class="fw-semibold m-0 medium">
                                    <%= post.userId.fullname %>
                                </h6>
                                <p class="small-8 m-0">
                                    <%=
                                    post.createdAt.toLocaleDateString('en-EN', {
                                    month: 'short', day: 'numeric'})
                                    %>

                                    <% if (post.category) { %>
                                    <span class="fw-bold mx-1"
                                        >&centerdot;</span
                                    >
                                    <a
                                        href="/?category=<%= post.category.toLowerCase() %>"
                                        class="text-decoration-none text-body-secondary"
                                    >
                                        <%= capitalizeEachWord(post.category)%>
                                    </a>
                                    <% } %>
                                </p>
                            </div>
                        </div> -->
                    </header>

                    <% if (post.thumbnail) { %>
                    <figure class="my-4 my-lg-5">
                        <img
                            class="card-img-top rounded-4 img-fluid post-thumbnail"
                            src="<%= post.thumbnail %>"
                            alt="<%= post.title %>"
                        />
                    </figure>
                    <% } %>
                    <div class="card-body px-3 px-lg-5 pb-lg-4">
                        <section class="mt-2 post-text">
                            <%- post.content %>
                        </section>

                        <% if (post.tags.length) { %>
                        <section class="mt-5 tags medium mb-lg-2 mt-5">
                            <i class="bi bi-tags"></i>
                            <span class="me-2"></span>
                            <% post.tags.forEach(tag => { %>
                            <a
                                href="/?tag=<%= tag %>"
                                class="tag-link badge bg-body-secondary text-body-secondary text-decoration-none rounded-4 px-3 py-2 my-1"
                                >#<%= tag %>
                            </a>
                            <% }) %>
                        </section>
                        <% } %>

                    </div>
                </article>

                <!-- Share -->
                <section class="d-lg-none mt-5 mb-5 pb-5">
                    <div class="text-center pb-4">Share to :</div>
                    <div class="text-center">
                        <span
                            class="bg-white px-2 py-3 fs-5 rounded-4 text-body-secondary border"
                        >
                            <a
                                class="share-link facebook-sm text-body-secondary p-2 mx-2"
                                href="#"
                                ><i class="bi bi-facebook"></i
                            ></a>
                            <a
                                class="share-link linkedin-sm text-body-secondary p-2 mx-2"
                                href="#"
                                ><i class="bi bi-linkedin"></i
                            ></a>
                            <a
                                class="share-link twitter-sm text-body-secondary p-2 mx-2"
                                href="#"
                                ><i class="bi bi-twitter"></i
                            ></a>
                            <a
                                class="share-link telegram-sm text-body-secondary p-2 mx-2"
                                href="#"
                                ><i class="bi bi-telegram"></i
                            ></a>
                            <a
                                class="share-link whatsapp-sm text-body-secondary p-2 mx-2"
                                href="#"
                                ><i class="bi bi-whatsapp"></i
                            ></a>
                        </span>
                    </div>
                </section>

                <section id="comments" class="bg-white rounded-4 border p-lg-4 px-3 py-4 my-5">
                    <script src="https://giscus.app/client.js"
                        data-repo="devChampl00/blog-comments"
                        data-repo-id="R_kgDONr94rA"
                        data-category="General"
                        data-category-id="DIC_kwDONr94rM4CmIHN"
                        data-mapping="pathname"
                        data-strict="0"
                        data-reactions-enabled="1"
                        data-emit-metadata="0"
                        data-input-position="bottom"
                        data-theme="light"
                        data-lang="id"
                        crossorigin="anonymous"
                        async>
                    </script>
                </section>

                <!-- Pagination -->
                <!-- <div class="row mt-5">
                    <nav aria-label="Page navigation">
                        <div class="text-center mb-2">Go to :</div>
                        <ul
                            class="pagination justify-content-center align-items-center"
                        >
                            <li class="page-item">
                                <a
                                    class="page-link rounded-start-4 shadow-sm text-body-secondary px-4 py-2"
                                    href="#"
                                    >Prev post</a
                                >
                            </li>
                            <li class="page-item">
                                <a
                                    class="page-link rounded-end-4 shadow-sm text-body-secondary px-4 py-2"
                                    href="#"
                                    >Next post</a
                                >
                            </li>
                        </ul>
                    </nav>
                </div> -->
            </main>
        </div>
    </div>
</div>

<script>
    const toTop = document.querySelector('.toTop')
    window.onscroll = () => {
        if (window.pageYOffset > 456) {
            toTop.classList.remove('d-none')
        } else {
            toTop.classList.add('d-none')
        }
    }

    document
        .querySelector('.facebook-lg')
        .setAttribute(
            'href',
            `https://www.facebook.com/sharer/sharer.php?u=${document.URL}/?utm_source=facebook&amp;utm_medium=social&amp;utm_campaign=user-share`
        )
    document
        .querySelector('.twitter-lg')
        .setAttribute(
            'href',
            `https://twitter.com/intent/tweet?text=Judul%20Postingan ${document.URL}`
        )
    document
        .querySelector('.linkedin-lg')
        .setAttribute(
            'href',
            `http://www.linkedin.com/shareArticle?mini=true&amp;url=${document.URL}&amp;title=Judul%20Postingan`
        )
    document
        .querySelector('.telegram-lg')
        .setAttribute(
            'href',
            `https://t.me/share/url?url=${document.URL}&text=Judul%20Postingan`
        )
    document
        .querySelector('.whatsapp-lg')
        .setAttribute(
            'href',
            `https://api.whatsapp.com/send/?text=${document.URL}&type=custom_url&app_absent=0`
        )

    document
        .querySelector('.facebook-sm')
        .setAttribute(
            'href',
            `https://www.facebook.com/sharer/sharer.php?u=${document.URL}/?utm_source=facebook&amp;utm_medium=social&amp;utm_campaign=user-share`
        )
    document
        .querySelector('.twitter-sm')
        .setAttribute(
            'href',
            `https://twitter.com/intent/tweet?text=Judul%20Postingan ${document.URL}`
        )
    document
        .querySelector('.linkedin-sm')
        .setAttribute(
            'href',
            `http://www.linkedin.com/shareArticle?mini=true&amp;url=${document.URL}&amp;title=Judul%20Postingan`
        )
    document
        .querySelector('.telegram-sm')
        .setAttribute(
            'href',
            `https://t.me/share/url?url=${document.URL}&text=Judul%20Postingan`
        )
    document
        .querySelector('.whatsapp-sm')
        .setAttribute(
            'href',
            `https://api.whatsapp.com/send/?text=${document.URL}&type=custom_url&app_absent=0`
        )
</script>

<!-- CK Editor -->
<!-- <script type="importmap">
    {
        "imports": {
            "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.1/ckeditor5.js",
            "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.1/"
        }
    }
</script>
<script type="module" src="/js/ckeditor.js"></script> -->
