---
import BaseLayout from './BaseLayout.astro';
import Sidebar from '@/components/shared/Sidebar.astro';
import MobileNav from '@/components/shared/MobileNav.astro';

interface Props {
  title: string;
  description?: string;
  image?: string;
  url?: string;
  keywords?: string;
}

const { title, description, image, url, keywords } = Astro.props;
---

<BaseLayout title={title} description={description} image={image} url={url} keywords={keywords}>
  <MobileNav />
  <div class="mx-auto max-w-[60rem] px-6 lg:px-8 lg:flex lg:gap-16">
    <main
      class="w-full min-w-0 lg:flex-1 pb-24 pt-[90px] lg:pt-16"
      transition:animate="fade"
    >
      <slot />
    </main>
    <Sidebar />
  </div>
</BaseLayout>
